i {
  color: rgb(79, 79, 122);
  margin-right: 7px;
}

body {
  color: rgb(187, 153, 228);
  font-family: ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
  background: rgb(30, 30, 46);
}

.app {
  text-align: center;
}

.chip {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background: rgb(84, 66, 220);
  margin-right: 4px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
  color: #f5e0dc;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.battery {
  margin-right: 20px;
  text-wrap-mode: nowrap;
}

.user,
.workspaces {
  display: flex;
  align-items: center;
}

.user {
  height: 20px;
  border-radius: 99999999px;
  margin-right: 8px;
  margin-left: -20px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.workspace {
  background: rgb(30, 30, 46);
  margin-right: 4px;
  padding: 2px 4px;
  padding-bottom: 0px;
  color: rgb(187, 153, 228);
  border: none;
  border-radius: 30%;
  cursor: pointer;

  &.displayed {
    background: rgb(79, 79, 122);
  }

  &.focused,
  &:hover {
    background: rgb(79, 79, 122);
  }
}

.binding-mode,
.tiling-direction {
  background: rgb(30, 30, 46);
  color: rgb(187, 153, 228);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

.nt, 
.bt    { color: #89b4fa; }
.max   { color: #a6e3a1; }
.med   { color: #f9e2af; }
.some  { color: #fab387; }
.bad   { color: #eba0ac; }
.worse { color: #f38ba8; }

/* Music */
.song {
  margin-right: 6px;
  max-height: 28px;
  height: 100%;
  max-width: 20ch;
  min-width: 15ch;
  border-radius: 8px 8px 0 0;
  position: relative;
  display: inline-grid;
  overflow: hidden;
  cursor: default;
}

.hour,
.title {
  height: 1lh;
  text-align: center;
  text-wrap-mode: nowrap;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.progress {
  width: 100%;
  height: 2px;
  background-color: #4f4f7a;
  overflow: hidden;
}

.bar {
  max-width: 100%;
  height: 2px;
  border-radius: 99999999px;
  background-color: #a6e3a1;
}

.bar.paused {
  background-color: #fab387;
}

/* Hour */
.hour-wrapper {
  height: 100%;
  display: grid;
  width: 20ch;
  align-items: center;
}

.hour,
.wks {
  width: 100%;
  padding: 2px 4px 0;
  cursor: default;
}

.wks {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.wk {
  all: unset;
  
  cursor: pointer;
  height: .6ch;
  width: .6ch;
  border-radius: 999999999999px;
}
.wk:hover {
  width: 1.3ch;
  background-color: #fab387;
}

/* states */
.wk     { background-color: #313244; }
.wk.act { background-color: #6c7086; }
.wk.sel { background-color: #a6e3a1; }